*{
    margin: 0px;
}

body{
    background-color: #dae0e6;
}

main {
  width: 100vw;
  max-width: 620px;
  margin: 12rem auto;  
}




/* ------------------HEADER STUFF  */


.nav{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: rgb(34, 31, 31);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
border-radius: 25px;
width: 58px;
margin-left: 10px;
margin-right: 12px;

}

.logo-box{
font-size: 1.5rem;
color: white;
display: flex;
align-items: center;
cursor: pointer;
}

.searchbar {
flex: 1 1 auto;
margin: 0 1rem;
display: flex;
justify-content: center;
}

.searchbar input {
width: 60%;
font-size: 1.5rem;
height: 2rem;
margin-right: 0.5rem;
border: 1px solid #ccc;
border-radius: 3px;
padding-left: 0.5rem;
}


.searchbar button{
width: 6%;
font-size: 17px;
padding: 0 0.25rem;
background: white;
border: 1px solid #ccc;
border-radius: 3px;
cursor: pointer;
}

.user-section{
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.log-btn button{
    font-size: 1em;
    border-radius: 20px;
    padding: 0 0.25rem;
    padding: 7px;
    width: 8em;
    border: 1px solid #ccc;
    cursor: pointer;
}

.sign-btn{
    margin-left: 12px;
}

.sign-btn button{
    white-space: nowrap;
    font-size: 1em;
    padding: 0 0.25rem;
    border-radius: 20px;
    padding: 7px;
    width: 8em;
    border: 1px solid #ccc;
    cursor: pointer;
}

.sign-btn button:hover{
   background-color: rgb(247, 148, 148);
}

/* ------------------MAIN CONTENT STUFF  */
.single-post{
    cursor: pointer;
    margin: 3rem 0;
    background-color: white;
}

.single-post:hover{
    box-shadow: 1px 1px 5px 3px #e6e0e0;

}

.single-post img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.post-info h3 {
    margin-bottom: 0;
}

.single-post content{
    padding: 1.5rem 2rem;
}

.single-post p{
    padding: 16px;
}

.user-info{
    margin-bottom: 10px;
}



/* ----------------------FOOTER STUFF  */

.foot{
    text-align: center;
    color: white;
    padding: 1rem;
    background-color: rgb(34, 31, 31);
}